
{{#if headless}}
<div class="ecoengine-compare">
{{else}}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <title>Berkeley Ecoengine Compare</title>
  <meta name="author" content="Stamen Design">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 11]>
  <script src="{{siteroot}}legacy/polyfill.js"></script>
  <script src="{{siteroot}}legacy/suplement-polyfills.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{siteroot}}css/vendor.css">
  <link rel="stylesheet" type="text/css" href="{{siteroot}}css/base.css">

</head>

<body class="ecoengine-compare" ontouchstart="" id="top">
{{/if}}
